<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
              "width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   

    <div class="main">
        <div class="register">
            <h2>Register Here</h2>
            <form action="/contact" method="post">
                <label for="">First name: </label>
                <br>
                <input type="text" name="fname" id="name" placeholder="Enter your first name">
                <br>
                  <label for="">Last name: </label>
                <br>
                <input type="text" name="lname" id="name" placeholder="Enter your lastname">
                <br>
                <label for="">Your age: </label>
                <br>
                <input type="number" name="age" id="name" placeholder="Enter your age">
                <br>
                  <label for="">Email: </label>
                <br>
                <input type="email" name="email" id="name" placeholder="Enter your valid email">
                <br>
                 <label for="">Gender: </label>
                <br>
                &nbsp;&nbsp;&nbsp;
                <input type="radio" name="gender" id="male">
                &nbsp;
                <span id="male">Male</span>
                  &nbsp;&nbsp;&nbsp;
                <input type="radio" name="gender" id="female">
                &nbsp;
                <span id="female">Female</span>
                <br>
                <label for="">Known Language:</label>
                <br>
                &nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="lang" id="hindi">
                &nbsp;
                <span id="hindi">Hindi</span>
                  &nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="lang" id="eng">
                &nbsp;
                <span id="eng">English</span>
                <br>
                <input type="submit" value="submit" name="submit"> 

  

            </form>
        </div>
    </div>
</body>
</html>